.gradient {
    background-color: #eee; /* Light gray background */
  }
  
  .card {
    border-radius: 15px;
  }
  
  .card-body {
    padding: 1.5rem;
  }
  
  .form-outline {
    position: relative;
    margin-bottom: 1.5rem; /* Increased margin for more space */
  }
  
  .form-outline input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #8f9194;
    border-radius: 0.25rem;
  }
  
  .form-outline label {
    position: absolute;
    top: -0.5rem;
    left: 0.75rem;
    background: #fff;
    padding: 0 0.25rem;
    color: #495057;
  }
  
  .btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
  }
  
  
  .text-body {
    color: #495057;
  }
  
  .text-body:hover {
    color: #212529;
    text-decoration: underline;
  }

  .btn-submit {
    background-color: #007bff; /* Solid blue background */
    color: #fff; /* White text */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Padding for better sizing */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transition for effects */
    text-decoration: none;
}

.btn-submit:hover {
    background-color:#0075f2; /* Darker blue on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
    text-decoration: none;
}

.btn-submit:focus {
    outline: none; /* Remove focus outline */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle shadow effect */
}

.form-check-input{
  border:1.35px solid black;
}

.form-check-label {
  margin-left: 0.5rem; /* Adds a gap between the checkbox and label */
}

.popup-message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  opacity: 0.9;
  font-size: 14px;
}


  