<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- Navbar Brand -->
      <a class="navbar-brand" [routerLink]="['/products']" routerLinkActive="active">ComputerStorageSolutions</a>
  
      <!-- Navbar Links -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link nav-btn" [routerLink]="['/login']">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-btn" [routerLink]="['/signup']">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-btn" [routerLink]="['/products']">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-btn" [routerLink]="['/Orders']">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-btn" [routerLink]="['/Cart']">Cart</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-btn" href="#" id="userMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              🙎🏻 {{ Username }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="userMenuButton">
              <li><a class="dropdown-item" href="#" (click)="logout(); $event.preventDefault();"><i class="fa fa-sign-out"></i> Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  