<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-md-6">
      <div class="card bg-transparent border-0">
        <div class="card-body">
          <form (ngSubmit)="Login()">
            <div class="form-group mb-4">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <div class="form-group mb-4">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Enter password">
            </div>
            <div class="form-check mb-4">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Remember me</label>
            </div>
            <button type="submit" class="btn btn-primary btn-lg w-100">Submit</button>
            <br/>
          
            <div class="text-center">
            <div class="form-check mb-4">
              <label class="form-check-label" for="exampleCheck1">
              <p>Not a member? </p>
            </label>
            
            <button type="submit" class="btn btn-primary1 " (click)="SignUpRedirect()">Register</button>
          </div>
        </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  