html, body {
    height: 100%;
    margin: 0;
}

.container {
    background: linear-gradient(to right,  #eee, #eee);
    padding: 20px;
}

.card {
    background-color: transparent; /* Keep the card background transparent */
    box-shadow: none; /* Remove default shadow */
    border-radius: 8px; /* Rounded corners */
}

.form-control {
    background-color: transparent; /* Transparent input to show gradient */
    color: black;
    border: 1px solid black;
}

.form-control::placeholder {
    color: black;
}

.form-label {
    font-weight: bold;
    color: black;
}
.form-check-label{
    color: black;
}

.btn-primary {
    background-color: rgb(92, 93, 94);
    border: none;
}
.btn-primary1 {
    background-color: rgb(245, 246, 247);
    border: none;
}
