<section class="h-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10 col-xl-8">
                <div class="card" style="border-radius: 10px;">
                    <div class="card-header px-4 py-5">
                        <h5 class="text-muted mb-0">Thanks for your Order, <span style="color: #090909;">{{Username}}</span>!</h5>
                    </div>
                    <div class="card-body p-4" *ngFor="let order of orders">
                        <!-- New order date section -->
                        <p class="order-date text-muted mb-0">Order Date: {{order.orderDate | date:'short'}}</p>
                        <br/>
                        <div  class="card shadow-0 border mb-4" *ngFor="let detail of order.orderDetails">
                            <div class="card-body" >
                                <div class="row align-items-center" >
                                    <div class="col-md-2">
                                        <img [src]="serverUrl + detail.imageUrl" class="img-fluid" alt="{{detail.productName}}">
                                    </div>
                                    <div class="col-md-2 text-center">
                                        <p class="text-muted mb-0">{{detail.productName}}</p>
                                    </div>
                                    <div class="col-md-2 text-center">
                                        <p class="text-muted mb-0 small">Description: {{detail.description}}</p>
                                    </div>
                                    <div class="col-md-2 text-center">
                                        <p class="text-muted mb-0 small">Qty: {{detail.quantity}}</p>
                                    </div>
                                    <div class="col-md-2 text-center">
                                        <p class="text-muted mb-0 small">${{detail.unitPrice}}</p>
                                    </div>
                                    <div class="col-md-2 text-center">
                                        <p class="text-muted mb-0 small">{{order.orderStatus}}</p>
                                    </div>
                                    <div class="col-md-2 text-center">
                                        <!-- Place the button in the last column -->
                                        <button type="button" class="btn btn-outline-primary" (click)="navigateToProductDetails(detail.productId)">Reorder</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
