<!doctype html>
<html lang="en">
  <head>
    <title>Chart.js example</title>
  </head>
  <body>
    <div style="width: 800px;">
      <canvas id="totalSalesChart"></canvas>
      <canvas id="totalOrdersChart"></canvas>
      <canvas id="ordersByCustomerChart"></canvas>
      <canvas id="unitsSoldChart"></canvas>
      <canvas id="popularProductChart"></canvas>
      <canvas id="leastPopularProductChart"></canvas>
    </div>

    <div id="inactiveCustomersList"></div>
    <div id="customerProductsQuarterList"></div>
    <div id="highestSellingProductList"></div>
  </body>
</html>
