<div class="container">
  <h1>Statistics Dashboard</h1>
  
  <div class="chart-card">
    <h2>Total Sales</h2>
    <canvas id="totalSalesChart"></canvas>
  </div>

  <div class="chart-card">
    <h2>Inactive Customers</h2>
    <canvas id="inactiveCustomersChart"></canvas>
  </div>

  <div class="chart-card">
    <h2>Highest Selling Product</h2>
    <canvas id="highestSellingProductChart"></canvas>
  </div>

  <div class="chart-card">
    <h2>Least Popular Product</h2>
    
    <div class="month-picker-container">
      <label for="leastPopulartmonthPicker">Select Month:</label>
      <input type="month" id="leastPopularmonthPicker" name="monthPicker">
    </div>

    <button id="loadLeastPopularProductBtn">Load Chart</button>
  
    <canvas id="leastPopularProductChart"></canvas>
  </div>  

  <div class="chart-card">
    <h2>Most Popular Product</h2>
    
    <div class="month-picker-container">
      <label for="mostPopularMonthPicker">Select Month:</label>
      <input type="month" id="mostPopularMonthPicker" name="mostPopularMonthPicker">
    </div>
  
    <button id="loadMostPopularChartBtn">Load Chart</button>
    
    <canvas id="mostPopularProductChart"></canvas>
  </div>
  
  <!-- <div class="chart-card">
    <h2>Products ordered by customer in quarter</h2>
    <canvas id="customerProductsInQuarterChart"></canvas>
  </div> -->

  <div class="chart-card">
    <h2>Units Sold in Price Range</h2>
    
    <div class="price-range-container">
      <div class="input-group">
        <label for="minPrice">Min Price:</label>
        <input type="number" id="minPrice" name="minPrice" placeholder="" min="0" step="0.01" [(ngModel)]="minPrice" (ngModelChange)="onPriceChange()">
      </div>
      
      <div class="input-group">
        <label for="maxPrice">Max Price:</label>
        <input type="number" id="maxPrice" name="maxPrice" placeholder="" min="0" step="0.01" [(ngModel)]="maxPrice" (ngModelChange)="onPriceChange()">
      </div>
    </div>
    
    <button id="loadUnitsSoldBtn">Load Chart</button>
    
    <canvas id="unitsSoldInPriceRangeChart"></canvas>
</div>

<div id="popupMessage" class="popup-message" *ngIf="popupVisible">
  {{ popupText }}
</div>
